@import "tailwindcss";

@layer utilities {
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .font-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}
@layer shadows {
  .shadow-outer {
    box-shadow: 1px 2px 2px 0px rgba(179, 159, 124, 1);
    -webkit-box-shadow: 1px 2px 2px 0px rgba(179, 159, 124, 1);
    -moz-box-shadow: 1px 2px 2px 0px rgba(179, 159, 124, 1);
  }
  .shadow1 {
    box-shadow: inset 1px 1px 1px #00000040;
  }
  .shadow-btn {
    box-shadow: 0px 2px 2px 0px rgba(28, 146, 169, 1);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(28, 146, 169, 1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(28, 146, 169, 1);
  }
  .shadow2 {
    box-shadow: 0 1px 2px #00000073;
  }
}
